<br>
<div class="row">
  <div class="col">
    <% if @recipes.any? %>
      <div class="card bg-light">
        <div class="card-body">
          <table class="table table-hover table-bordered">
            <thead class="thead text-white bg-dark">
              <tr>
                <th>Recipes</th>
                <th>View</th>
                <th>Rate</th>
              </tr>
            </thead>
            <tbody>
              <% @recipes.each do |recipe| %>
                <tr class="table-light">
                  <td class="align-middle"><%= recipe.recipe_name %></td>
                  <td style="text-align: center;">
                    <a href="/recipe/<%= recipe.id %>">
                      <button class="btn btn-warning " type="button">View Recipe</button>
                    </a>
                  </td>
                  <td style="text-align: center;">Rate Recipe
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <div class="card bg-light">
      <div class="card-body">
        <form action="/create_recipe" method="post">
          <div class="form-group">
            <label for="recipe_name">New recipe name: </label>
            <input id="recipe_name" name="recipe_name" class="form-control" type="text">
          </div>
          <button type="submit" class="btn btn-warning">Start a new recipe!</button>
        </form>
      </div>
    </div>
  </div>
</div>
